* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/raider.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

div.contenedor {
    padding: 20px;
}

div.fila1,
div.fila2,
div.fila3 {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

div.infoProveedor,
div.estadisticas,
div.crearMenu,
div.entregarMenu,
div.stock {
    border: solid 3px black;
    height: 400px;
    background-color: #fdfefe;
    margin: 5px;
}

div.titulo {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 0px;
}

hr {
    margin: 0px;
    height: 1px;
    background-color: #000000;
}

div.row1,
div.row2,
div.row3 {
    height: calc(80% / 3);
    width: 100%;
    display: flex;
}

div.nombre,
div.calle,
div.email,
div.ciudad,
div.telefono {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.icono {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

h4 {
    margin: 0px;
}

p {
    margin: 0px;
    padding: 3%;
    font-size: 24px;
}

img.svgEditar {
    height: 140px;
    width: auto;
}

button.btnEditar {
    height: 50px;
    width: 50px;
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

i.fa-pen-to-square,
i.fa-minus,
i.fa-plus,
i.fa-circle-chevron-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

div.mostrarRanking {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

div.ranking {
    width: 90%;
}

div.menus {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.cantidadMenu {
    height: 60%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.menosMenu,
div.masMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.menos,
button.mas,
button.btnVolver {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ff4d4d;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.cantMenu {
    font-size: 50px;
    padding: 20px;
}

div.imgFresa {
    height: 60%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.imgFresa {
    height: 235px;
    width: auto;
}

div.btnCrear,
div.btnConfirm {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.crear,
button.confirm {
    background-color: #eca623;
    color: #ffffff;
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.entrega {
    display: flex;
}

div.selectRider {
    height: 235px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.stockDiv {
    height: 80%;
    width: 100%;
    display: flex;
}

div.selectMenu,
div.selectHistorico {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p.num {
    font-size: 50px;
}

div.explicacion {
    position: relative;
    height: 235px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.imgTexto {
    height: 100%;
    width: auto;
    display: block;
    margin-top: 30px;
}

div.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

p.textoExplicacion {
    font-size: 20px;
}

div.mapa {
    border: solid 3px black;
    height: 400px;
    background-color: #fdfefe;
    margin: 5px;
    position: relative;
}

#map {
    height: 80%;
}

div.divVolver {
    position: absolute;
    bottom: 30px;
    right: 50px;
    margin: 10px;
}

a.aVolver {
    text-decoration: none;
}
